<div
  class="relative flex h-44 flex-col items-center justify-center bg-weather-pattern bg-cover bg-center text-black"
  style="background-size: 2160px 300px"
>
  <div class="absolute inset-0 bg-white/30 backdrop-blur-sm"></div>

  <div class="z-10 mt-2 flex w-[55rem] flex-row items-center justify-center">
    <div class="flex w-full flex-col items-center justify-center">
      <div class="flex flex-row items-center">
        <img src="/assets/icon.svg" alt="weather icon" class="h-16 w-16" />
        <h1 class="text-3xl font-bold">Ng Weather</h1>
      </div>
      <p class="text-md mb-4 mt-2 text-center">
        Check your local weather in a fast and elegant way
      </p>
    </div>
    <div class="w-full">
      <app-search-bar class="w-full"></app-search-bar>
      <button
        class="bg-blue-400 p-2 text-xs hover:bg-blue-800 hover:text-white"
        (click)="handleGetWeatherBtn()"
      >
        Get Location?
      </button>
    </div>
  </div>
</div>
