<div
  class="flex h-full w-full flex-col items-center justify-center text-center"
>
  <form (ngSubmit)="onSearch()" #searchForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter city</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        placeholder="City name"
        name="cityName"
        required
        type="text"
        appFormValidator
        (invalidCharEntered)="handleInvalidInput($event)"
      />
      <mat-error *ngIf="isInvalidInput">Invalid character entered!</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!searchForm.valid"
    >
      Search
    </button>
  </form>
</div>
