<div class="w-full">
  <form
    (ngSubmit)="onSearch()"
    #searchForm="ngForm"
    class="relative flex w-full"
  >
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Enter city</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        placeholder="City name"
        name="cityName"
        required
        type="search"
        appFormValidator
        (invalidCharEntered)="handleInvalidInput($event)"
      />
      <button
        matSuffix
        class="mr-4 rounded-full bg-blue-400 p-2 hover:cursor-pointer hover:bg-blue-800 hover:text-white"
        aria-label="Search"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-error *ngIf="isInvalidInput">Invalid character entered!</mat-error>
    </mat-form-field>
  </form>
</div>
