<div class="mx-auto mt-4 max-w-4xl rounded-lg">
  <div class="h-64 w-full rounded-lg border-none bg-blue-500">
    <div class="h-full text-center text-white">
      <div
        class="flex h-10 flex-row items-center gap-2 rounded-lg bg-slate-800 p-4"
      >
        @if (weatherData) {
          <div class="text-xl capitalize">{{ formattedAddress }}</div>
          <div class="text-xs">
            ({{ weatherData?.lat }}, {{ weatherData?.lon }})
          </div>
          <div class="text-md">
            As of
            {{
              weatherData?.current?.dt * 1000 | date: "MMM dd, HH:mm:ss" : "EST"
            }}
            ({{ weatherData?.timezone }})
          </div>
        }
      </div>

      <div class="flex h-full items-center justify-between p-4">
        <div class="flex h-full flex-col items-start justify-start font-bold">
          <span class="text-8xl">
            {{ weatherData?.current?.temp | number: "1.0-0" }}°
          </span>

          <div class="text-3xl">
            @for (
              weather of weatherData?.current?.weather;
              track weather.main
            ) {
              {{ weather?.main }}
            }
          </div>
          <div class="text-2xl">
            <span
              >Day
              {{ weatherData?.daily[0]?.temp.day | number: "1.0-0" }}°</span
            >
            ·
            <span
              >Night
              {{ weatherData?.daily[0]?.temp.night | number: "1.0-0" }}°</span
            >
          </div>
        </div>
        <!-- icon -->
        <div class="flex h-full flex-col justify-start pr-10">
          @if (weatherData?.current?.weather) {
            <img
              [src]="getWeatherIconUrl(weatherData?.current?.weather[0].icon)"
              alt="{{ weatherData?.current?.weather[0].description }}"
              class="inline-block h-36 w-36"
            />
            <span class="text-xs">
              {{ weatherData?.current?.weather[0].description }}</span
            >
          }
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mx-auto my-4 max-w-4xl rounded-lg bg-gray-100 p-6 shadow-md">
  <h2 class="text-center text-2xl font-semibold text-gray-800">
    Weather Dashboard
  </h2>

  @if (weatherData) {
    <mat-card class="rounded-lg bg-white p-4 shadow">
      <mat-card-header class="border-b pb-3">
        <mat-card-title class="text-lg font-semibold text-gray-700">
          Current Weather in {{ formattedAddress }}
        </mat-card-title>
        <mat-card-subtitle class="text-sm text-gray-600">
          As of
          {{ weatherData.current.dt * 1000 | date: "MMM dd, HH:mm:ss" : "EST" }}
          ({{ weatherData.timezone }})
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-4 text-gray-700">
        <p>
          <strong>Temperature:</strong>
          {{ weatherData.current.temp | number: "1.0-0" }}°F
        </p>
        <p>
          <strong>Feels Like:</strong>
          {{ weatherData.current.feels_like | number }}°F
        </p>
        <p><strong>Pressure:</strong> {{ weatherData.current.pressure }} hPa</p>
        <p><strong>Humidity:</strong> {{ weatherData.current.humidity }}%</p>
        <p><strong>Cloudiness:</strong> {{ weatherData.current.clouds }}%</p>
        <p>
          <strong>Wind Speed:</strong> {{ weatherData.current.wind_speed }} m/s
        </p>
        <div class="mr-2 mt-3 flex items-center text-gray-700">
          <strong>Weather: </strong>
          @for (weather of weatherData.current.weather; track weather.main) {
            <span> {{ weather.main }} ({{ weather.description }}) </span>
            <img
              [src]="getWeatherIconUrl(weather.icon)"
              alt="{{ weather.id }}"
              class="inline-block h-12 w-12"
            />
          } @empty {
            <span>No current weather available</span>
          }
        </div>
        <div class="mt-4 text-gray-700">
          <p>
            <strong>Sunrise: </strong
            >{{ weatherData.current.sunrise * 1000 | date: "HH:mm:ss" : "EST" }}
          </p>
          <p>
            <strong>Sunset: </strong
            >{{ weatherData.current.sunset * 1000 | date: "HH:mm:ss" : "EST" }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  } @else {
    <p class="mt-4 text-center text-gray-700">
      Search for a city name in the search bar above to view its current weather
      data.
    </p>
  }
</div> -->
